/*    publish-first   */
.publish-first{
    padding-bottom: 10px;
    border-bottom: 5px solid  #3594de;
}

.first-pay{
    border: 1px solid #dedede;
    width: auto;
    color: #3498db;
    font-size: 18px;
    margin-top: 15px;
}

.first-pay-number{
    font-size: 72px;
    font-family: Tahoma;
}

.first-img{
    width: 160px;
    height: 135px;
}


.first-basic{
    font-size: 12px;
    padding: 0 ;
}

.first-money{
    font-size: 18px;
    margin-top: 10px;
}

.first-money-number{
    font-size: 32px;
    text-decoration: line-through;
}

.first-name{
    font-size: 18px;
    margin-top: -5px;
}

.first-getter{
    margin: 2px 0 4px;
}

.first-lucky{
    width: 20%;
    font-size: 12px;
    margin-bottom: 0;
}

.first-lucky-title{
    text-align: center;
    font-size: 14px;
    padding: 2px 0;
}

.first-lucky-title-number{
    font-size: 18px;
    padding: 0 3px;
}

.first-lucky-item{
    padding: 7px 0;
    padding-left: 8px;
}

.lucky-head{
    width: 25px;
    height: 25px;
    padding-right: 5px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.first-lucky-more{
    text-align: center;
    padding: 3px 0;
}

.first-lucky-more-link{
    display: block;
}

/*    publish-share   */
.publish-share{
    background: #3497da;
    position: relative;
    color: #fff;
    padding: 8px;
    margin-top: 15px;
}

.publish-share-arrows{
    width: 0;
    height: 0;
    background: transparent;
    border: 12px solid transparent;
    border-bottom-color: #3497da;
    position: absolute;
    top: -24px;
    left: 25px;
}

.share-head{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding: 0;
}

.share-basic-title{
    margin-top: 3px;
}

/*   publish-normal-content   */
.publish-normal-content{
    margin-top: 30px;
}

/*  publish-normal-collection  */
.publish-normal-collection{
    padding-left: 0;
    width: 80%;
}

.publish-normal{
    padding: 0;
    margin-bottom: 40px;
    margin-right: 3.8216560%;
    width: auto;
    cursor: pointer;
}

.publish-normal:nth-child(2n){
    border-left: 1px solid #dedede;
    margin-right: 0;
    padding-left: 35px;
}

.normal-pay{
    border: 1px solid #dedede;
    font-size: 18px;
    color: #3497da;
    min-width: 105px;
    height: 105px;
    padding: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    text-align: center;
    line-height: 105px;
}

.normal-pay-number{
    font-size: 48px;
    font-family: Tahoma;
    letter-spacing: -1px;
}

.normal-pay-letter{
    display: none;
}

@media screen and (min-width:1200px) {
    .normal-pay-letter{
        display: inline;
    }

    .normal-pay{
        width: 150px;
    }
}

.normal-img{
    padding: 0 5px 0 12px;
    width: 100px;
    height: 110px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.normal-basic{
    font-size: 12px;
    width: auto;
    padding-left: 5px;
    padding-right: 0;
}

.normal-money{
    font-size: 18px;
}

.normal-money-number{
    text-decoration: line-through;
}

.normal-name{
    font-size: 14px;
}

.normal-name , .normal-buy{
    margin: 3px 0;
}

/*     publish-just    */
.publish-just{
    width: 20%;
    padding: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.publish-just-title{
    text-align: center;
    padding: 5px 0;
}

.publish-just-item{
    padding: 12px 5px;
    position: relative;
}

.just-head{
    width: 25px;
    height: 25px;
    vertical-align: top;
    margin-top: 5px;
}

.just-basic{
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 12px;
    padding-left: 5px;
}

.just-basic-good{
    padding-top: 5px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.just-buy{
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 12px;
}

.just-buy-number{
    font-size: 18px;
}